@model TotalStaffingSolutions.Models.AspNetUser
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<script>
    $(document).ready(function () {
        var panels = $('.user-infos');
        var panelsButton = $('.dropdown-user');
        panels.hide();

        //Click dropdown
        panelsButton.click(function () {
            //get data-for attribute
            var dataFor = $(this).attr('data-for');
            var idFor = $(dataFor);

            //current button
            var currentButton = $(this);
            idFor.slideToggle(400, function () {
                //Completed slidetoggle
                if (idFor.is(':visible')) {
                    currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
                }
                else {
                    currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
                }
            })
        });


        $('[data-toggle="tooltip"]').tooltip();

        $('button').click(function (e) {
            e.preventDefault();
            alert("This is a demo.\n :-)");
        });
    });
</script>
<style>
    .user-row {
        margin-bottom: 14px;
    }

        .user-row:last-child {
            margin-bottom: 0;
        }

    .dropdown-user {
        margin: 13px 0;
        padding: 5px;
        height: 100%;
    }

        .dropdown-user:hover {
            cursor: pointer;
        }

    .table-user-information > tbody > tr {
        border-top: 1px solid rgb(221, 221, 221);
    }

        .table-user-information > tbody > tr:first-child {
            border-top: 0;
        }


        .table-user-information > tbody > tr > td {
            border-top: 0;
        }

    .toppad {
        margin-top: 20px;
    }
</style>














<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container-fluid">
    <div class="row">
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">@Model.UserName</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="~/ProfileImages/@Model.DisplayPicture"  class="img-circle img-responsive"> </div>

        
                        <div class="col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Email:</td>
                                        <td>@Model.Email</td>
                                    </tr>
                                    <tr>
                                        <td>Total Time Sheets:</td>
                                        <td>@ViewBag.TotalTimeSheets</td>
                                    </tr>
                                    <tr>
                                        <td>Date of Birth</td>
                                        <td>01/24/1988</td>
                                    </tr>

                                    <tr>
                                        <td>Gender</td>
                                        <td>Female</td>
                                    </tr>
                                    <tr>
                                        <td>Address:</td>
                                        <td>@ViewBag.Customer.Address1, @ViewBag.Customer.Address2 @ViewBag.Customer.City, @ViewBag.Customer.Country @ViewBag.Customer.ZipCode</td>
                                    </tr>
                                    <tr>
                                        <td>Phone Number</td>
                                        <td>
                                            @Model.PhoneNumber
                                        </td>

                                    </tr>

                                </tbody>
                            </table>

                            @*<a href="#" class="btn btn-primary">My Sales Performance</a>
                            <a href="#" class="btn btn-primary">Team Sales Performance</a>*@
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    @*<a href="#" data-original-title="Contact With Support" data-toggle="tooltip" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>*@
                    <a href="/ClientDashboard/EditProfile" data-original-title="Edit Profile" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                    
                </div>

            </div>
        </div>
    </div>
</div>
