@using System.Web.Script.Serialization;
@model TotalStaffingSolutions.Models.Customer

<script src="~/assets/scripts/jquery.min.js"></script>
<script src="~/assets/plugin/jquery-ui/jquery-ui.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Content/bootstrap-datepicker.js"></script>
<script src="~/Content/bootstrap-datepicker.min.js"></script>
@*<script src="~/Content/jquery.autocomplete.min.js"></script>*@
<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .ui-widget{
        z-index:200 !important;
        background-color:white !important;
        border:1px solid grey;
        width:500px !important;
        height: 200px;
        overflow: auto;
        list-style: none;
        line-height: 20px;
        cursor: pointer;
    }
</style>

<div class="modal fadee" id="emailsList" role="dialog">
    <div class="modal-dialog" style="top: 360px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Available Email Addresses</h4><small>(Timesheet saved, Please select email address to send the link)</small>
            </div>
            <div class="modal-body" id="contentBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="row small-spacing">
    <div class="col-xs-12">
        <div class="box-content">
            <div class="row new-main-invoice">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 create-time-text">
                    <img alt="logo" src="../assets/logo-w.png">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="new-invoice-top">

                        <div class="create-time-logo">
                            <div><b>@Model.Name </b><br>@Model.Address1, @Model.Address2<br>@Model.City, @Model.State || 60504</div>
                            <div>
                                <span class="invoice-top-new-tel">PH:</span> @Model.PhoneNumber<br>Week Ending:<br>
                                <div class="form-group ">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="datepicker" style="z-index:1000" onchange="UpdateDates()">
                                        <span class="input-group-addon bg-primary text-white"><i class="fa fa-calendar"></i></span>

                                        <!-- /.input-group -->
                                    </div>
                                </div>
                                PO Number:<br>
                                <input list="browsers" name="Po_number"  id="Po_number" class="form-control ponumber" value=""/>
                                <datalist id="browsers">
                                    @foreach (var item in ViewBag.PONumbers)
                                    {
                                        <option value='@item.PoNumber'></option>
                                    }
                                </datalist>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="table-responsive" data-pattern="priority-columns">
                <table id="tech-companies-1" class="table table-small-font table-bordered table-striped">
                    <thead>
                        <tr>
                            <th colspan="1">Name</th>
                            <th data-priority="2" style="text-align:center!important">RT</th>
                            @for (int i = 0; i < 7; i++)
                            {
                                DateTime input = DateTime.Now;
                                int delta = DayOfWeek.Monday - input.DayOfWeek;
                                DateTime monday = input.AddDays(delta + i);
                                <th data-priority="@i" style="text-align:center!important">@monday.ToString("ddd") <br /><span id='date_@i'>@monday.ToString("MM/dd")</span></th>
                            }
                            <th data-priority="8" style="text-align:center!important">Total</th>
                            <th data-priority="9" style="text-align:center!important">Initial Here</th>
                        </tr>
                    </thead>
                    <tbody id="EmpTr">
                        <tr>
                            @*<th colspan="1" style="width: 230px">@Html.DropDownList("Employees", null, htmlAttributes: new { @class = "form-control js-example-basic-single", @id = "selected_employee_1" })</th>*@
                            <th colspan="1" style="width: 230px"><input type="text" class="form-control ui-autocomplete" id="selected_employee_1" placeholder="Search Employees.."/><input type="text" hidden id="id_selected_employee_1"/></th>
                            <td><input type="number" style="width: 50px !important;text-align:center!important" min="0" class="form-control new-form-control" placeholder="" id="rate_1"></td>
                            <td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" min="0" max="24" value="" onchange="UpdateHours(1)" id="monday_1"></td>
                            <td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" min="0" max="24" value="" onchange="UpdateHours(1)" id="tuesday_1"></td>
                            <td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" min="0" max="24" value="" onchange="UpdateHours(1)" id="wednesday_1"></td>
                            <td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" min="0" max="24" value="" onchange="UpdateHours(1)" id="thursday_1"></td>
                            <td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" min="0" max="24" value="" onchange="UpdateHours(1)" id="friday_1"></td>
                            <td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" min="0" max="24" value="" onchange="UpdateHours(1)" id="saturday_1"></td>
                            <td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" min="0" max="24" value="" onchange="UpdateHours(1)" id="sunday_1"></td>
                            <td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="0" value="0" onchange="UpdateHours(1)" id="totalHours_1" disabled></td>
                            <td><input type="text" class="form-control new-form-control" placeholder="" id="enitials_1"></td>
                        </tr>
                        <tr>
                            <th colspan="2">Total Hours</th>
                            @*<td></td>*@
                            <td><input type="text"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" value="0" placeholder="0" id="MondayTotalHours" disabled></td>
                            <td><input type="text"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" value="0" placeholder="0" id="TuesdayTotalHours" disabled></td>
                            <td><input type="text"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" value="0" placeholder="0" id="WednesdayTotalHours" disabled></td>
                            <td><input type="text"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" value="0" placeholder="0" id="ThursdayTotalHours" disabled></td>
                            <td><input type="text"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" value="0" placeholder="0" id="FridayTotalHours" disabled></td>
                            <td><input type="text"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" value="0" placeholder="0" id="SaturdayTotalHours" disabled></td>
                            <td><input type="text"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" value="0" placeholder="0" id="SundayTotalHours" disabled></td>
                            <td><input type="text"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" id="EmployeesTotalHours" value="0" placeholder="0" disabled></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th colspan="2">Numbers of People</th>
                            @*<td></td>*@
                            <td><input type="text"  style="width: 66px !important; text-align:center!important" id="MondayTotalEmployees" value="0" class="form-control new-form-control" placeholder="0" disabled></td>
                            <td><input type="text"  style="width: 66px !important; text-align:center!important" id="TuesdayTotalEmployees" value="0" class="form-control new-form-control" placeholder="0" disabled></td>
                            <td><input type="text"  style="width: 66px !important; text-align:center!important" id="WednesdayTotalEmployees" value="0" class="form-control new-form-control" placeholder="0" disabled></td>
                            <td><input type="text"  style="width: 66px !important; text-align:center!important" id="ThursdayTotalEmployees" value="0" class="form-control new-form-control" placeholder="0" disabled></td>
                            <td><input type="text"  style="width: 66px !important; text-align:center!important" id="FridayTotalEmployees" value="0" class="form-control new-form-control" placeholder="0" disabled></td>
                            <td><input type="text"  style="width: 66px !important; text-align:center!important" id="SaturdayTotalEmployees" value="0" class="form-control new-form-control" placeholder="0" disabled></td>
                            <td><input type="text"  style="width: 66px !important; text-align:center!important" id="SundayTotalEmployees" value="0" class="form-control new-form-control" placeholder="0" disabled></td>
                            <td><input type="text"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" id="TotalEmployees" placeholder="0" value="0" disabled></td>
                            <td></td>
                        </tr>



                    </tbody>
                </table>
            </div>
            <div class="new-forms-buttons">
                <button type="button" class="btn btn-success btn-xs waves-effect waves-light" onclick="AddRow()">Add Row</button>
                <button type="button" class="btn btn-default btn-xs waves-effect waves-light" onclick="SubmitTimeSheet(0)">Save Timesheet</button>
                <button type="button" class="btn btn-primary btn-xs waves-effect waves-light" onclick="SubmitTimeSheet(1)">Submit</button>
            </div>
            <div class="bottom-text">
                <h4>Authorized Signature<i></i></h4>
                <p>Please email to payroll@4tssi.com on Monday's before 10:am</p>

            </div>
            <div class="new-comment-section">
                <label for="male">Comment</label>
                <textarea value="" id="comment" class="form-control" style="padding:0px 0px 0px 0px!important"></textarea>

            </div>
        </div>
        <!-- /.box-content -->
    </div>
    <!-- /.col-lg-6 col-xs-12 -->
</div>

<div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:45%;left:45%;padding:2px;"><img src='~/assets/loading_gif.gif' width="64" height="64" /><br>Loading..</div>
<input type="text" hidden style="display:none" id="totalNoOfEmployees" value="1"/>

@*@foreach (var item in ViewBag.Employees)
    {
        <p>@item.First_name</p>
    }*@

<script type="text/javascript">
    function AddRow()
    {
        var totalemp = $("#totalNoOfEmployees").val();
        var incemp = parseFloat(totalemp) + 1;
        var dropdownid = "selected_employee_"+incemp;
        //$("#TotalEmployees").val(incemp);
        $("#totalNoOfEmployees").val(incemp);
        var dropdownhtml = "@Html.Raw(ViewBag.DropDownHtml)";
        //$("#EmpTr").prepend('<tr><th colspan="1" style="width: 230px">'+dropdownhtml+'</th><td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" id="rate_'+ incemp+'"></td><td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" value="" onchange="UpdateHours('+ incemp+')" min="0" max="24" id="monday_'+ incemp+'"></td><td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" value="" onchange="UpdateHours('+ incemp+')" min="0" max="24" id="tuesday_'+ incemp+'"></td><td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" value="" onchange="UpdateHours('+ incemp+')" min="0" max="24" id="wednesday_'+ incemp+'"></td><td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" value="" onchange="UpdateHours('+ incemp+')" min="0" max="24" id="thursday_'+ incemp+'"></td><td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" value="" onchange="UpdateHours('+ incemp+')" min="0" max="24" id="friday_'+ incemp+'"></td><td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" value="" onchange="UpdateHours('+ incemp+')" min="0" max="24" id="saturday_'+ incemp+'"></td><td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" value="" onchange="UpdateHours('+ incemp+')" min="0" max="24" id="sunday_'+ incemp+'"></td><td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" value="" onchange="UpdateHours('+ incemp+')" min="0" max="24" id="totalHours_'+ incemp+'" disabled></td><td><input type="text" class="form-control new-form-control" placeholder="" id="enitials_'+ incemp+'"></td></tr>')
        $("#EmpTr").prepend('<tr><th colspan="1" style="width: 230px"><input type="text" class="form-control ui-autocomplete" id="selected_employee_'+incemp+'" placeholder="Search Employees.."/><input type="text" hidden id="id_selected_employee_'+incemp+'"/></th><td><input type="number"  style="width:50px!important;text-align:center!important" class="form-control new-form-control" placeholder="" id="rate_'+ incemp+'"></td><td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" style="width: 66px !important; text-align:center!important" placeholder="" value="" onchange="UpdateHours('+ incemp+')" min="0" max="24" id="monday_'+ incemp+'"></td><td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" value="" onchange="UpdateHours('+ incemp+')" min="0" max="24" id="tuesday_'+ incemp+'"></td><td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" value="" onchange="UpdateHours('+ incemp+')" min="0" max="24" id="wednesday_'+ incemp+'"></td><td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" value="" onchange="UpdateHours('+ incemp+')" min="0" max="24" id="thursday_'+ incemp+'"></td><td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" value="" onchange="UpdateHours('+ incemp+')" min="0" max="24" id="friday_'+ incemp+'"></td><td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" value="" onchange="UpdateHours('+ incemp+')" min="0" max="24" id="saturday_'+ incemp+'"></td><td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" value="" onchange="UpdateHours('+ incemp+')" min="0" max="24" id="sunday_'+ incemp+'"></td><td><input type="number"  style="width: 66px !important; text-align:center!important" class="form-control new-form-control" placeholder="" value="0" onchange="UpdateHours('+ incemp+')" min="0" max="24" id="totalHours_'+ incemp+'" disabled></td><td><input type="text" class="form-control new-form-control" placeholder="" id="enitials_'+ incemp+'"></td></tr>')
        $("#selected_employee_"+incemp).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/TSSManage/SearchEmployees",
                    type: "GET",
                    dataType: "json",
                    data: { query: $("#selected_employee_"+incemp).val() },
                    success: function (data) {
                        response($.map(data,
                            function (item) {
                                return { label: item.Name, value: item.Id };
                            }));

                    }
                });


            },
            select: function (event, ui) {
                AutoCompleteSelectHandler(event, ui, 'selected_employee_'+incemp)
            },
            messages: {
                noResults: "",
                results: function(count) {
                    return count + (count > 1 ? ' results' : ' result ') + ' found';
                }
            }
        });
        $("#dropdownid").attr("id", "selected_employee_"+incemp);
    }

    function UpdateHours(trNo)
    {
        var val1 = $("#monday_" + trNo).val();
        var val2 = $("#tuesday_" + trNo).val();
        var val3 = $("#wednesday_" + trNo).val();
        var val4 = $("#thursday_" + trNo).val();
        var val5 = $("#friday_" + trNo).val();
        var val6 = $("#saturday_" + trNo).val();
        var val7 = $("#sunday_" + trNo).val();

        if(val1 == '')
        {
            val1 = '0';
        }
        if(val2 == '')
        {
            val2 = '0';
        }
        if(val3 == '')
        {
            val3 = '0';
        }
        if(val4 == '')
        {
            val4 = '0';
        }
        if(val5 == '')
        {
            val5 = '0';
        }
        if(val6 == '')
        {
            val6 = '0';
        }
        if(val7 == '')
        {
            val7 = '0';
        }

        //console.log(val1 + " " + val2 + " " + val3 + " " + val4 + " " + val5 + " " + val6 + " " + val7);
        var total = parseFloat(val1) + parseFloat(val2) + parseFloat(val3) + parseFloat(val4) + parseFloat(val5) + parseFloat(val6) + parseFloat(val7);
        $("#totalHours_" + trNo).val(total);
        $("#totalHours_" + trNo).attr("placeholder", total);
        var totalHoursAllEmp = 0;
        var totalemp = $("#totalNoOfEmployees").val();
        var totalmondayHours = 0;
        var totaltuesdayHours = 0;
        var totalwednesdayHours = 0;
        var totalthursdayHours = 0;
        var totalfridayHours = 0;
        var totalsaturdayHours = 0;
        var totalsundayHours = 0;

        var totalmondayEmployees = 0;
        var totaltuesdayEmployees = 0;
        var totalwednesdayEmployees = 0;
        var totalthursdayEmployees = 0;
        var totalfridayEmployees = 0;
        var totalsaturdayEmployees = 0;
        var totalsundayEmployees = 0;
        var TotalWorkingEmployees = 0;

        for (var i = 1; i <= parseFloat(totalemp) ; i++) {
            var hoursPerEmp = $("#totalHours_" + i).val();
            totalHoursAllEmp = totalHoursAllEmp + parseFloat(hoursPerEmp);

            if($("#monday_" + i).val() == '')
            {
                totalmondayHours = totalmondayHours + 0;
            }
            else
            {
                totalmondayHours = totalmondayHours + parseFloat($("#monday_" + i).val());
            }
            $("#MondayTotalHours").val(totalmondayHours);



            if($("#tuesday_" + i).val() == '')
            {
                totaltuesdayHours = totaltuesdayHours + 0;
            }
            else
            {
                totaltuesdayHours = totaltuesdayHours + parseFloat($("#tuesday_" + i).val());
            }
            $("#TuesdayTotalHours").val(totaltuesdayHours);


            if($("#wednesday_" + i).val() == '')
            {
                totalwednesdayHours = totalwednesdayHours + 0;
            }
            else
            {
                totalwednesdayHours = totalwednesdayHours + parseFloat($("#wednesday_" + i).val());
            }
            $("#WednesdayTotalHours").val(totalwednesdayHours);

            if($("#thursday_" + i).val() == '')
            {
                totalthursdayHours = totalthursdayHours + 0;
            }
            else
            {
                totalthursdayHours = totalthursdayHours + parseFloat($("#thursday_" + i).val());
            }
            $("#ThursdayTotalHours").val(totalthursdayHours);


            if($("#friday_" + i).val() == '')
            {
                totalfridayHours = totalfridayHours + 0;
            }
            else
            {
                totalfridayHours = totalfridayHours + parseFloat($("#friday_" + i).val());
            }
            $("#FridayTotalHours").val(totalfridayHours);


            if($("#saturday_" + i).val() == '')
            {
                totalsaturdayHours = totalsaturdayHours + 0;
            }
            else
            {
                totalsaturdayHours = totalsaturdayHours + parseFloat($("#saturday_" + i).val());
            }
            $("#SaturdayTotalHours").val(totalsaturdayHours);

            if($("#sunday_" + i).val() == '')
            {
                totalsundayHours = totalsundayHours + 0;
            }
            else
            {
                totalsundayHours = totalsundayHours + parseFloat($("#sunday_" + i).val());
            }
            $("#SundayTotalHours").val(totalsundayHours);

            if(parseFloat($("#monday_" + i).val()) > 0)
            {
                totalmondayEmployees = totalmondayEmployees + 1;
                if(totalmondayEmployees > TotalWorkingEmployees)
                {
                    TotalWorkingEmployees= totalmondayEmployees;
                    
                }
            }
            $("#MondayTotalEmployees").val(totalmondayEmployees);
            if(parseFloat($("#tuesday_" + i).val()) > 0)
            {
                totaltuesdayEmployees = totaltuesdayEmployees + 1;
                if(totaltuesdayEmployees > TotalWorkingEmployees)
                {
                    TotalWorkingEmployees= totaltuesdayEmployees;
                    
                }
            }
            $("#TuesdayTotalEmployees").val(totaltuesdayEmployees);
            if(parseFloat($("#wednesday_" + i).val()) > 0)
            {
                totalwednesdayEmployees = totalwednesdayEmployees + 1;
                if(totalwednesdayEmployees > TotalWorkingEmployees)
                {
                    TotalWorkingEmployees= totalwednesdayEmployees;
                    
                }
            }
            $("#WednesdayTotalEmployees").val(totalwednesdayEmployees);
            if(parseFloat($("#thursday_" + i).val()) > 0)
            {
                totalthursdayEmployees = totalthursdayEmployees + 1;
                if(totalthursdayEmployees > TotalWorkingEmployees)
                {
                    TotalWorkingEmployees= totalthursdayEmployees;
                    
                }
                $("#ThursdayTotalEmployees").val(totalthursdayEmployees);
            }
            if(parseFloat($("#friday_" + i).val()) > 0)
            {
                totalfridayEmployees = totalfridayEmployees + 1;
                if(totalfridayEmployees > TotalWorkingEmployees)
                {
                    TotalWorkingEmployees= totalfridayEmployees;
                    
                }
            }
            $("#FridayTotalEmployees").val(totalfridayEmployees);
            if(parseFloat($("#saturday_" + i).val()) > 0)
            {
                totalsaturdayEmployees = totalsaturdayEmployees + 1;
                if(totalsaturdayEmployees > TotalWorkingEmployees)
                {
                    TotalWorkingEmployees= totalsaturdayEmployees;
                    
                }
            }
            $("#SaturdayTotalEmployees").val(totalsaturdayEmployees);
            if(parseFloat($("#sunday_" + i).val()) > 0)
            {
                totalsundayEmployees = totalsundayEmployees + 1;
                if(totalsundayEmployees > TotalWorkingEmployees)
                {
                    TotalWorkingEmployees= totalsundayEmployees;
                    
                }
            }
            $("#SundayTotalEmployees").val(totalsundayEmployees);

        }
        $("#EmployeesTotalHours").val(totalHoursAllEmp);

        $("#EmployeesTotalHours").attr("placeholder",totalHoursAllEmp);
        //$("#TotalEmployees").val(TotalWorkingEmployees);
        var tWorkingEmp =0;
        for(var a = 1; a <= totalemp; a++)
        {
            var tot = $("#totalHours_"+a).val();
            if(tot > 0)
            {
                tWorkingEmp = tWorkingEmp + 1;
            }
        }

        $("#TotalEmployees").val(tWorkingEmp);

    }

    function SubmitTimeSheet(submitState)
    {

        var timesheet = {
            Customer_id:@Model.Id,
            Organization_id : null,
            Start_date : getMonday(),
            End_date : getSunday(),
            Total_employees:$("#TotalEmployees").val(),
            Total_hours:$("#EmployeesTotalHours").val(),
            Submit_by_client:false,
            Uuid:null,
            Signature:null,
            Created_at:Date(),
            Updated_at:null,
            Note: $("#comment").val(),
            Po_number: $("#Po_number").val(),
            Sent:false,
            For_internal_employee:false
        }

        var totalemp = $("#totalNoOfEmployees").val();
        var timeSheet_summary = [];


        for (var i = 1; i <= parseFloat(totalemp) ; i++) {
            var timeSheet_summaryDetails = {
                Timesheet_id: null,
                Employee_id: $("#id_selected_employee_"+i).val(),
                Rate: $("#rate_"+i).val(),
                Enitial: $("#enitials_"+i).val(),
                Total_hours : $("#totalHours_"+i).val(),
                Created_at: Date(),
                Updated_at:null,
                Rating_by_client:null
            }
            timeSheet_summary.push(timeSheet_summaryDetails);
        }
        var timeSheet_DetailsList = [];


        for (var i = 1; i <= parseFloat(totalemp) ; i++) {

            for (var j = 1; j <= 7 ; j++) {
                var hoursPerDay = 0;
                if(j == 1)
                {
                    hoursPerDay = $("#monday_" + i).val();
                }
                else if(j == 2)
                {
                    hoursPerDay = $("#tuesday_" + i).val();
                }
                else if(j == 3)
                {
                    hoursPerDay = $("#wednesday_" + i).val();
                }
                else if(j == 4)
                {
                    hoursPerDay = $("#thursday_" + i).val();
                }
                else if(j == 5)
                {
                    hoursPerDay = $("#friday_" + i).val();
                }
                else if(j == 6)
                {
                    hoursPerDay = $("#saturday_" + i).val();
                }
                else if(j == 7)
                {
                    hoursPerDay = $("#sunday_" + i).val();
                }

                var timeSheet_details = {
                    Timesheet_id: null,
                    Employee_id:$("#id_selected_employee_"+i).val(),
                    Day:j,
                    Hours:parseFloat(hoursPerDay),
                    Created_at:Date(),
                    Updated_at:Date()

                }
                timeSheet_DetailsList.push(timeSheet_details);
            }
        }


        $.ajax({
            type: 'POST',
            data: JSON.stringify({timesheet: timesheet, timeSheet_summary:timeSheet_summary,timeSheet_DetailsList:timeSheet_DetailsList}),
            url: '@Url.Action("AddTimeSheetDetails", "TSSManage")',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                if(data == 'failure' && (submitState == 0 || submitState == 1))
                {
                    alert(data);
                    window.location = "/TSSManage/Dashboard";

                }
                if(submitState == 0)
                {
                    window.location = "/TSSManage/Dashboard";
                }
                else if(submitState == 1)
                {debugger;
                    GetClientEmails(data);
                }

            },
            error: function(req, status, errorObj) {
                alert(errorObj.toString());
            }
        });


    }
    function SendTimesheetLink(id,email)
    {

        $.ajax({
            type: 'POST',
            data: JSON.stringify({ id: id, email: email }),
            url: '@Url.Action("SendTimeSheetLink", "TSSManage")',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                alert(data);
                window.location = "/TSSManage/Dashboard";
            },
            error: function (req, status, errorObj) {
                alert(errorObj.toString());
            }
        });
    }

    function GetClientEmails(timesheetId)
    {
        debugger;
        $.ajax({
            type: 'POST',
            data: JSON.stringify({ timesheetId: timesheetId }),
            url: '@Url.Action("GetClientEmails", "TSSManage")',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#emailsList").modal("show");
                $.each(data, function (i, item) {
                    var email = JSON.stringify(item);
                    $("#contentBody").html("<div class='row'><div class='col-md-6'>" + item + "</div><div class='col-md-6'><button onclick='SendTimesheetLink(" + timesheetId + "," + email + ")' class='btn btn-default form-control'>Send Email</button></div></div>");
                });
                $('.modal-backdrop').remove();
            },
            error: function (req, status, errorObj) {
                alert(errorObj.toString());
            }
        });
    }

    function getMonday() {
        var monday = $("#datepicker").val();

        d = new Date(monday);
        var day = d.getDay(),
            diff = d.getDate() - day + (day == 0 ? -6 : 1);
        return new Date(d.setDate(diff));

    }

    function getSunday() {

        var sunday = $("#datepicker").val();
        d = new Date(sunday);
        var day = d.getDay(),
            diff = d.getDate() - day + (day == 0 ? 0 : +7);
        return new Date(d.setDate(diff));
    }
    function UpdateDates()
    {
        var dateselected = $("#datepicker").val();
        var diff = Date();
        d = new Date(dateselected);
        var day = d.getDay();
        diff = d.getDate() -6;
        var a = d.getDate() - day + diff;
        var dateNew = new Date(d.setDate(diff));
        d = new Date(dateselected);
        $("#date_0").text((dateNew.getMonth()+1) + '-' + dateNew.getDate());

        day = d.getDay();
        diff = d.getDate() -5;
        var a = d.getDate() - day + diff;
        dateNew = new Date(d.setDate(diff));
        $("#date_1").text((dateNew.getMonth()+1) + '-' + dateNew.getDate());

        d = new Date(dateselected);
        day = d.getDay();
        diff = d.getDate() -4;
        var a = d.getDate() - day + diff;
        dateNew = new Date(d.setDate(diff));
        $("#date_2").text((dateNew.getMonth()+1) + '-' + dateNew.getDate());

        d = new Date(dateselected);
        day = d.getDay();
        diff = d.getDate() -3;
        var a = d.getDate() - day + diff;
        dateNew = new Date(d.setDate(diff));
        $("#date_3").text((dateNew.getMonth()+1) + '-' + dateNew.getDate());
        day = d.getDay();

        d = new Date(dateselected);
        diff = d.getDate() -2;
        var a = d.getDate() - day + diff;
        dateNew = new Date(d.setDate(diff));
        $("#date_4").text((dateNew.getMonth()+1) + '-' + dateNew.getDate());

        d = new Date(dateselected);
        day = d.getDay();
        diff = d.getDate() -1;
        var a = d.getDate() - day + diff;
        dateNew = new Date(d.setDate(diff));
        $("#date_5").text((dateNew.getMonth()+1) + '-' + dateNew.getDate());

        d = new Date(dateselected);
        day = d.getDay();

        diff = d.getDate() -0;
        var a = d.getDate() - day + diff;
        dateNew = new Date(d.setDate(diff));
        $("#date_6").text((dateNew.getMonth()+1) + '-' + dateNew.getDate());
    }
</script>

<script>
    $(document).ready(function() {

            $(document).ajaxStart(function () {
                $("#wait").css("display", "block");
                var screenTop = $(document).scrollTop();
                $('#wait').css('top', screenTop + 320);
            });
            $(document).ajaxComplete(function () {
                $("#wait").css("display", "none");
            });
            $("button").click(function () {
                $("#txt").load("demo_ajax_load.asp");
            });


    $('.js-example-basic-multiple').select2();
    $('.js-example-basic-single').select2();

    $('#datepicker').datepicker({ beforeShowDay:
      function(dt)
      {
          return [dt.getDay() == 0 , ""];
      }
    });

    $("#datepicker").val(new Date());
    var sunday = getSunday();
    $("#datepicker").val(sunday.getMonth()+1+"/"+sunday.getDate()+"/"+sunday.getUTCFullYear());


    $('[data-toggle=\'tooltip\']').tooltip({ container: 'body' });
    $(function () {
        $("#selected_employee_1").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/TSSManage/SearchEmployees",
                    type: "GET",
                    dataType: "json",
                    data: { query: $("#selected_employee_1").val() },
                    success: function (data) {
                                debugger;
                        response($.map(data,
                            function (item) {
                                return { label: item.Name, value: item.Id };
                            }));

                    }
                });


            },
            select: function (event, ui) {
                AutoCompleteSelectHandler(event, ui, 'selected_employee_1')
            },
            messages: {
                noResults: "",
                results: function(count) {
                    return count + (count > 1 ? ' results' : ' result ') + ' found';
                }
            }
        });
    } );

    $("#ui-datepicker-div").attr("hidden",true);

});
    function AutoCompleteSelectHandler(event, ui, id) {
        var selectedObjVal = ui.item.value;
        var selectedObjLabel = ui.item.label;
        $("#id_"+id).val(selectedObjVal);
        $("#"+id).val(selectedObjLabel);

    }


</script>
