@model IEnumerable<TotalStaffingSolutions.Models.Timesheet>
@using TotalStaffingSolutions.Models
@{ 
    var ContactsList = ViewBag.ClientContacts as List<TotalStaffingSolutions.Models.CustomerContact>;
    var db = new TSS_Sql_Entities();
}
<script src="~/assets/scripts/jquery.min.js"></script>
<style>


    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 130px;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>
<div class="modal fadee" id="ShowRejectionReason" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Rejection Reason</h4>
            </div>
            <div class="modal-body" id="rejectionContentBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fadee" id="emailsList" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Available Email Addresses</h4>
            </div>
            <div class="modal-body" id="contentBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<input type="text" id="myInput" hidden />
<div class="container-fluid">

    
    <div class="row small-spacing">
        <div class="col-xs-12">
            <div class="box-content">
                <div id="myModal" class="modal" style="top:0!important">
                    <div class="modal-content">
                        <button class="close" onclick="hideModal()">&times;</button>
                        <table class="table-responsive-lg table-hover table-responsive table-striped">
                            <thead>
                                <tr style="height:50px!important">
                                    <td class="col-lg-2 col-md-2 col-sm-2 col-xs-12 create-time-text"><b>Name</b></td>
                                    <td class="col-lg-2 col-md-2 col-sm-2 col-xs-12 create-time-text"><b>Email</b></td>
                                    <td class="col-lg-2 col-md-2 col-sm-2 col-xs-12 create-time-text"><b>Phone</b></td>
                                    <td class="col-lg-2 col-md-2 col-sm-2 col-xs-12 create-time-text"><b>Confirmation Status</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ContactsList)
                                {
                                    <tr style="height:50px!important">
                                        <td class="col-lg-2 col-md-2 col-sm-2 col-xs-12 create-time-text">
                                            <div class="new-email">
                                                @if (item.Contact_name != null)
                                                {
                                                    <p>@item.Contact_name</p>
                                                }
                                                else
                                                {
                                                    <p>N/A</p>
                                                }
                                            </div>
                                        </td>

                                        <td class="col-lg-2 col-md-2 col-sm-2 col-xs-12 create-time-text">
                                            <div class="new-home">
                                                @if (item.Email_id != null && item.Email_id != "")
                                                {
                                                    <p>@item.Email_id</p>
                                                }
                                                else
                                                {
                                                    <p>N/A</p>
                                                }
                                            </div>
                                        </td>
                                        <td class="col-lg-2 col-md-2 col-sm-2 col-xs-12 create-time-text">
                                            <div class="new-home">
                                                @if (item.Phone_1 != null)
                                                {
                                                    <p>@item.Phone_1</p>
                                                }
                                                else if (item.Phone_2 != null)
                                                {
                                                    <p>@item.Phone_2</p>
                                                }
                                                else if (item.Phone_3 == null)
                                                {
                                                    <p>@item.Phone_3</p>
                                                }
                                                else
                                                {
                                                    <p>N/A</p>
                                                }
                                            </div>
                                        </td>
                                        @{
                                            try
                                            {
                                                var contact = db.ContactConfirmations.OrderByDescending(s=>s.LastUpdate).FirstOrDefault(s => s.ContactId == item.Id);
                                                var status = db.ContactConfirmationStatus.FirstOrDefault(s => s.Id == contact.ConfirmationStatusId);
                                                if (status.Id == 1)
                                                {
                                                        <td class="col-lg-2 col-md-2 col-sm-2 col-xs-12 create-time-text">
                                                            <div class="new-home">
                                                                <button type="button" class="btn btn-warning btn-xs waves-effect waves-light">@status.Status</button>

                                                            </div>
                                                        </td>
                                                }
                                                else if (status.Id == 2)
                                                {
                                                        <td class="col-lg-2 col-md-2 col-sm-2 col-xs-12 create-time-text">
                                                            <div class="new-home">
                                                                <button type="button" class="btn btn-primary btn-xs waves-effect waves-light">@status.Status</button>

                                                            </div>
                                                        </td>
                                                }
                                                else if (status.Id == 3)
                                                {
                                                        <td class="col-lg-2 col-md-2 col-sm-2 col-xs-12 create-time-text">
                                                            <div class="new-home">
                                                                <button type="button" class="btn btn-success btn-xs waves-effect waves-light">@status.Status</button>

                                                            </div>
                                                        </td>
                                                }
                                                else if (status.Id == 4)
                                                {
                                                        <td class="col-lg-2 col-md-2 col-sm-2 col-xs-12 create-time-text">
                                                            <div class="new-home">
                                                                <button type="button" class="btn btn-danger btn-xs waves-effect waves-light">@status.Status</button>

                                                            </div>
                                                        </td>
                                                }

                                                if (item.Email_id != null && item.Email_id != "" && status.Id != 3)
                                                {
                                                    <td class="col-lg-2 col-md-2 col-sm-2 col-xs-12 create-time-text">
                                                        <div class="new-home">
                                                            
                                                                <a href="/TSSManage/SendAccountEmail/@item.Id" class="btn-sm btn-primary">Send Confirmation</a>
                                                            
                                                        </div>
                                                    </td>
                                                            }
                                                        }
                                                        catch (Exception)
                                                        {
                                                        <td class="col-lg-2 col-md-2 col-sm-2 col-xs-12 create-time-text">
                                                        <div class="new-home">
                                                            <button type="button" class="btn btn-danger btn-xs waves-effect waves-light">N/A</button>
                                                        </div>
                                                        </td>
                                                        <td class="col-lg-2 col-md-2 col-sm-2 col-xs-12 create-time-text">
                                                            <div class="new-home">
                                                                <a href="/TSSManage/SendAccountEmail/@item.Id" class="btn-sm btn-primary" hidden>Send Confirmation</a>
                                                            </div>
                                                        </td>
                                                    }
                                            }
                                    </tr>
                                                    }

                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="row new-main-invoice new-customer-details">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 create-time-text">
                        <div class="new-profile-avatar">
                            @if (ViewBag.DisplayPicture != null)
                            {
                                <img alt="User Pic" src="~/ProfileImages/@ViewBag.DisplayPicture" class="img-circle img-responsive">
                            }
                            else
                            {
                                @*<img alt="No Image to display" src="~/ProfileImages/ImageNotAvailabble.jpg" class="img-circle img-responsive">*@
                                <i class="fa fa-user new-user-icon"></i>
                                    <div class="new-avatar-text">
                                        <p>@Model.FirstOrDefault().Customer.Name</p>
                                        @*<a href="/TSSManage/SendAccountEmail/@Model.FirstOrDefault().Customer.Id" class="btn btn-success btn-xs waves-effect waves-light">Send an email</a>*@
                                    </div>
                            }
                            
                        </div>
                    </div>
                    @*<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 create-time-text">
                        <div class="new-email">
                            <span>EMAIL</span>
                            @if (Model.FirstOrDefault().Customer.Email != null)
                            {
                                <p>@Model.FirstOrDefault().Customer.Email</p>
                            }
                            else
                            {
                                <p>N/A</p>
                            }
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 create-time-text">
                        <div class="new-home">
                            <span>PHONE</span>
                            <p>@Model.FirstOrDefault().Customer.PhoneNumber</p>
                        </div>
                    </div>*@
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 create-time-text">
                        <div class="new-home">
                            <span>ADDRESS</span>
                            <p>
                                @{
                                    string address;
                                    if (Model.FirstOrDefault().Customer.Address2 != null && Model.FirstOrDefault().Customer.Address2 != " " && Model.FirstOrDefault().Customer.Address2 != "")
                                    {
                                        address = Model.FirstOrDefault().Customer.Address1 + ", " + Model.FirstOrDefault().Customer.Address2 + ", " + Model.FirstOrDefault().Customer.City + ", " + Model.FirstOrDefault().Customer.State + " | " + Model.FirstOrDefault().Customer.ZipCode;
                                    }
                                    else
                                    {
                                        address = Model.FirstOrDefault().Customer.Address1 + ", " + Model.FirstOrDefault().Customer.City + ", " + Model.FirstOrDefault().Customer.State + " | " + Model.FirstOrDefault().Customer.ZipCode;
                                    }

                                }
                                @address
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 create-time-text">
                        <div class="new-home">
                            <span>SIGNED UP</span>
                            @{
                                var months = Model.FirstOrDefault().Customer.CustomerAdded.Value.Month;
                                var currentmonth = DateTime.Now.Month;
                                var monthdiff = currentmonth - months;
                                string monthDiffString;
                                if (monthdiff > 0)
                                { monthDiffString = "(about " + monthdiff + " month ago)"; }
                                else
                                {
                                    monthDiffString = "";
                                }

                            }
                            <p>@Model.FirstOrDefault().Customer.CustomerAdded.Value.ToString("MMMM") @Model.FirstOrDefault().Customer.CustomerAdded.Value.Day, @Model.FirstOrDefault().Customer.CustomerAdded.Value.Year @monthDiffString</p>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 create-time-text">
                        <div class="new-home" style="text-align:center;align-content:center;">
                            <span>BRANCH TAGS</span>
                            @if (Model.FirstOrDefault().Customer.Branch != null)
                            {
                                <p class="new-button"><button type="button" class="btn btn-success btn-xs waves-effect waves-light">@Model.FirstOrDefault().Customer.Branch.Name</button></p>
                            }
                            else
                            {
                                <p class="new-button"><button type="button" class="btn btn-danger btn-xs waves-effect waves-light">N/A</button></p>
                            }
                        </div>
                        <br />
                        <a href="/Timesheets/AddTimeSheet?CustomerId=@Model.FirstOrDefault().Customer.Id" class="btn btn-primary btn-xs waves-effect waves-light fa fa-calendar-plus-o"> Add New Time Sheet</a>
                        <br /><br />
                        <button id="myBtn"  class="btn btn-primary btn-xs waves-effect waves-light fa fa-calendar-plus-o" style="width:148px!important">Contacts</button>
                    </div>
                </div>
                <!-- /.box-title -->
                <!-- /.dropdown js__dropdown -->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sheet #</th>
                                <th>Week Ending Date</th>
                                <th>Status</th>
                                <th>Total Employees</th>
                                <th><button type="button" class="btn btn-primary waves-effect waves-light">All Sheets<i class="ico ico-right fa fa-angle-down"></i></button></th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.FirstOrDefault().Id != 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a href="/Timesheets/TimeSheetDetails/@item.Id">#@item.Id</a>
                                            @if (item.Note != null && item.Note != "")
                                            {
                                                <b style="color:red">!</b>
                                            }
                                        </td>
                                        <td>@Convert.ToDateTime(item.End_date).ToString("dd/MMM/yyyy")</td>
                                        <td>
                                            @if (item.TimeSheetStatu.Id == 3)
                                            {
                                                <span class="notice notice-yellow">@item.TimeSheetStatu.Status</span>
                                            }
                                            else if (item.TimeSheetStatu.Id == 4)
                                            {
                                                <span class="notice notice-danger" style="cursor:pointer" onclick="RejectionReason(@item.Id)">@item.TimeSheetStatu.Status</span>
                                            }
                                            else
                                            {
                                                <span class="notice notice-blue">@item.TimeSheetStatu.Status</span>
                                            }
                                        </td>
                                        <td>@item.Total_employees</td>
                                        <td>
                                            <a href="/Timesheets/EditTimeSheet/@item.Id" class="btn btn-primary btn-xs waves-effect waves-light fa fa-edit" data-toggle="tooltip" title="Edit Timesheet"></a>
                                            <a href="/Timesheets/TimeSheetDetails/@item.Id" class="btn btn-primary btn-xs waves-effect waves-light fa fa-eye" data-toggle="tooltip" title="View Timesheet"></a>
                                            <a href="/Timesheets/ExportInExcel?ids=@item.Id" class="btn btn-primary btn-xs waves-effect waves-light fa fa-download" data-toggle="tooltip" title="Download Timesheet"></a>
                                            <button type="button" onclick="CopyTimesheet(@item.Id)" class="btn btn-primary btn-xs waves-effect waves-light fa fa-clone" data-toggle="tooltip" title="Copy Timesheet"></button>
                                            <button type="button" onclick="DeleteTimesheetLink(@item.Id)" class="btn btn-danger btn-xs waves-effect waves-light fa fa-trash" data-toggle="tooltip" title="Delete Timesheet"></button>
                                            <button type="button" onclick="GetClientEmails(@item.Id,@item.TimeSheetStatu.Id)" class="btn btn-success btn-xs waves-effect waves-light" data-toggle="tooltip" title="Send Link">Send Email</button>
                                            @*<button type="button" onclick="copyLink(@item.Id)" class="btn btn-success btn-xs waves-effect waves-light">Copy Link</button>*@
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        @*<a href="/Timesheets/AddTimeSheet?CustomerId=@Model.FirstOrDefault().Customer.Id" class="btn btn-primary btn-xs waves-effect waves-light fa fa-calendar-plus-o"> Add New Time Sheet</a>*@
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>

                </div>
            </div>
            <!-- /.box-content -->
        </div>
        <!-- /.col-xs-12 -->
    </div>

</div>
<div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:45%;left:45%;padding:2px;"><img src='~/assets/loading_gif.gif' width="64" height="64" /><br>Loading..</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
function hideModal() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

<script>
   
    @*function SendTimesheetLink(id, email, timesheetStatus) {
        if (timesheetStatus == 3) {
            if (window.confirm("This timesheet is already submitted, \nDo you want still want to Send link?")) {
                $('#emailsList').modal('toggle');
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({ id: id, email: email }),
                    url: '@Url.Action("SendTimeSheetLink", "TSSManage")',
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        alert(data);
                    },
                    error: function (req, status, errorObj) {
                        alert(errorObj.toString());
                    }
                });
            }
            else {
                $('#emailsList').modal('toggle');

            }
        }
        else {
            $('#emailsList').modal('toggle');
            $.ajax({
                type: 'POST',
                data: JSON.stringify({ id: id, email: email }),
                url: '@Url.Action("SendTimeSheetLink", "TSSManage")',
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    alert(data);
                },
                error: function (req, status, errorObj) {
                    alert(errorObj.toString());
                }
            });


        }
    }*@
    function SendTimesheetLink(id, email, timesheetStatus) {
        if (timesheetStatus == 3) {
            if (window.confirm("This timesheet is already submitted, \nDo you want still want to Send link?")) {
                $('#emailsList').modal('toggle');
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({ id: id, email: email, checkUser: 0 }),
                    url: '@Url.Action("SendTimeSheetLink", "TSSManage")',
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data == "Customer Doesn't Exists") {
                            if (confirm("This email address is not registered, Do you want to send the invitation?")) {
                                window.location = "/TSSManage/SendAccountEmail?Email=" + email + "&Id=" + id;
                            }
                        }
                        else {
                            alert(data);
                        }
                    },
                    error: function (req, status, errorObj) {
                        alert(errorObj.toString());
                    }
                });
            }
            else {
                $('#emailsList').modal('toggle');

            }
        }
        else {
            $('#emailsList').modal('toggle');
            $.ajax({
                type: 'POST',
                data: JSON.stringify({ id: id, email: email, checkUser: 0 }),
                url: '@Url.Action("SendTimeSheetLink", "TSSManage")',
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data == "Customer Doesn't Exists") {
                        if (confirm("This email address is not registered, Do you want to send the invitation?")) {
                            window.location = "/TSSManage/SendConfirmationStatus?Email=" + email + "&Id=" + id;
                        }
                    }
                    else {
                        alert(data);
                    }
                },
                error: function (req, status, errorObj) {
                    alert(errorObj.toString());
                }
            });


        }
    }

    function DeleteTimesheetLink(id)
    {
        $.ajax({
            type: 'POST',
            data: JSON.stringify({ id: id }),
            url: '@Url.Action("DeleteTimeSheet", "Timesheets")',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var r = confirm(data);
                if (r == true) {
                    window.location.reload();
                }
                else
                {
                    window.location.reload();
                }
            },
            error: function (req, status, errorObj) {
                alert(errorObj.toString());
            }
        });
    }


    function copyLink(id) {
        debugger;
        var copyText = document.getElementById("myInput");
        copyText.value = "http://tss.viretechnologies.com/Timesheets/TimeSheetDetails/"+id;
        copyText.select();
        document.execCommand("copy");
        alert("Copied the link: " + copyText.value);
    }

    function CopyTimesheet(id)
    {
        $.ajax({
            type: 'POST',
            data: JSON.stringify({ id: id }),
            url: '@Url.Action("CopyTimeSheet", "Timesheets")',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var r = confirm(data);
                if (r == true) {
                    window.location.reload();
                }
                else 
                {
                    window.location.reload();
                }
            },
            error: function (req, status, errorObj) {
                alert(errorObj.toString());
            }
        });
    }



    $(document).ready(function () {
        $(document).ajaxStart(function () {
            $("#wait").css("display", "block");
            var screenTop = $(document).scrollTop();
            $('#wait').css('top', screenTop + 320);
        });
        $(document).ajaxComplete(function () {
            $("#wait").css("display", "none");
        });
        $("button").click(function () {
            $("#txt").load("demo_ajax_load.asp");
        });
        $('[data-toggle="tooltip"]').tooltip();
    });

    function RejectionReason(timesheetId) {

        $.ajax({
            type: 'POST',
            data: JSON.stringify({ timesheetId: timesheetId }),
            url: '@Url.Action("GetRejectionReason", "TSSManage")',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#rejectionContentBody").html("");
                $("#ShowRejectionReason").modal("show");

                $("#rejectionContentBody").html("<div class='row'><div class='col-md-12'>" + data.RejectionReason + "</div><div class='col-md-6'></div></div>");
                $('.modal-backdrop').remove();
                //window.location.hash = '#rejectionContentBody';
                //$('#ShowRejectionReason').focus();

                var screenTop = $(document).scrollTop();
                $('.modal').css('top', screenTop + 50);
                $('#myModal').css('top', 0);
            },
            error: function (req, status, errorObj) {
                alert(errorObj.toString());
            }
        });
    }
    @*function GetClientEmails(timesheetId, timesheetStatus) {

        $.ajax({
            type: 'POST',
            data: JSON.stringify({ timesheetId: timesheetId }),
            url: '@Url.Action("GetClientEmails", "TSSManage")',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#emailsList").modal("show");
                $.each(data, function (i, item) {
                    var email = JSON.stringify(item);
                    $("#contentBody").html("<div class='row'><div class='col-md-6'>" + item + "</div><div class='col-md-6'><button onclick='SendTimesheetLink(" + timesheetId + "," + email + "," + timesheetStatus + ")' class='btn btn-default form-control'>Send Email</button></div></div>");
                });
                $('.modal-backdrop').remove();
                var screenTop = $(document).scrollTop();
                $('.modal').css('top', screenTop + 50);
                $('#myModal').css('top', 0);
            },
            error: function (req, status, errorObj) {
                alert(errorObj.toString());
            }
        });
    }*@

    function GetClientEmails(timesheetId, timesheetStatus) {

        $.ajax({
            type: 'POST',
            data: JSON.stringify({ timesheetId: timesheetId }),
            url: '@Url.Action("GetClientEmails", "TSSManage")',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#emailsList").modal("show");
                var html = "";
                $.each(data, function (i, item) {
                    var email = JSON.stringify(item);
                    console.log(item);
                    if (item != null && item != "") {
                        html = html + "<div class='row'><div class='col-md-6'>" + item + "</div><div class='col-md-6'><button onclick='SendTimesheetLink(" + timesheetId + "," + email + "," + timesheetStatus + ")' class='btn btn-default form-control'>Send Email</button></div></div><br/>";
                    }
                    else if (item == "No Email Available") {
                        html = html + "<div class='row'><div class='col-md-6' style='color:red'>" + item + "</div><div class='col-md-6'></div></div>";
                    }
                });
                $("#contentBody").html(html);
                $('.modal-backdrop').remove();
                var screenTop = $(document).scrollTop();
                $('.modal').css('top', screenTop + 150);
            },
            error: function (req, status, errorObj) {
                alert(errorObj.toString());
            }
        });
    }
</script>